#feed-entry {
    margin: 0px 20px 20px 30px;
}


#feed-entry-header-container {
    overflow: auto;
    height: 55px;
}

#feed-entry-header-container-left {
    float: left;
    height: 100%;
}

#feed-entry-header-container-left img {
    display: block;
    height: 44px;
    margin-top: 5px;
    border-radius: 10%;
}

#feed-entry-header-container-right {
    height: 100%;
    width: 100%;
}

#feed-entry-title {
    display: inline-block;
    margin: 15px 0px 0px 10px;
}

#feed-entry-no-img-div {
    margin-top: 10px;
    height: 100%;
    width: 44px;
    height: 34px;
    border-radius: 10%;
    background-color: lightgrey;
}