#reserve-component-container {
    margin: 15px 15px 10px 25px;
    padding: 0px;
    height: auto;
    display: flex;
    flex-direction: column;
}

#reserve-component-search-params {
    width: 100%;
    height: 450px;
}

#reserve-component-scheduler-container {
    width: 100%;
}

#reserve-component-bottom-margin {
    height: 70px;
}
