html, body, #root, #root>div {
    height: 100%
}

.scree-title {
    color: #e30745;
    font-size: xx-large;
    margin: 0px 0px 20px 0px;
}

.scree-section-description {
    color: #ec99b8;
    font-size: small;
    margin: -15px 0px 20px 0px;
}