.footer-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

@media only screen and (min-width: 1026px) {
    .footer-bar {
        display: none;
    }
}