#header-container {
    position: sticky;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    text-align: center;
    display: table;
}

#header-second-line {
    display: none;
}

